.*
!.github
analysis_options.yaml
waifu_generator.iml
pubspec.lock
run.bat

build
test
android/*
!android/app
android/app/*
!android/app/src
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml
