.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.idea
.metadata
.packages
analysis_options.yaml
pubspec.lock
run.bat
waifu.iml

build
test
android/*
!android/app
android/app/*
!android/app/src
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/AndroidManifest.xml
